<div class="card"  ng-repeat="list in school">
  <a href="/{{ list.id }}" class="image">
    <img ng-src="{{ env.file }}/school/image/{{ list.image }}">
  </a>
  <div class="content">
    <a class="header">
        <img ng-src="{{ env.file }}/school/logo/{{ list.logo }}" alt="" class="right floated mini ui image">
            {{ list.name }} 
    </a>
    <div class="meta">
      <span class="date">{{ list.type }} </span>
    </div>
    <div class="extra">
      <div ui-rating class="ui star rating" data-rating="4"></div>
    </div>
    <div class="description">
      {{ list.city }}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      22 Students
    </a>
  </div>
 </div>