<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section sidebar class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img ng-if="auth.picture == ''" ng-src="/img/sampleprofile.png" class="img-circle" alt="User Image">
        <img ng-if="auth.picture != ''" ng-src="{{env.file}}user/picture/{{auth.picture}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{auth.name}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form> -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">Navigasi</li>
      <li><a href="/"><i class="fa fa-book"></i> <span>Halaman Utama</span></a></li>
      
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>Agenda Pendidikan</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/agenda"><i class="fa fa-newspaper-o"></i> Agenda</a></li>
          <li><a href="/agenda/category"><i class="fa fa-th-list"></i> Kategori Agenda</a></li>
          <li><a href="/label"><i class="fa fa-tag"></i> Label</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>Berita Pendidikan</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/news"><i class="fa fa-newspaper-o"></i> Posting Berita</a></li>
          <li><a href="/news/category"><i class="fa fa-th-list"></i> Kategori Berita</a></li>
          <li><a href="/label"><i class="fa fa-tag"></i> Label</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>Beasiswa</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/scholarship"><i class="fa fa-newspaper-o"></i> List Beasiswa</a></li>
          <li><a href="/label"><i class="fa fa-th-list"></i> Label</a></li>
        </ul>
      </li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>Blog Pendidikan</span>
        </a>
      </li> -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>Direktori Pendidikan</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/school/type"><i class="fa fa-th-list"></i> Tipe Sekolah</a></li>
          <li><a href="/school"><i class="fa fa-university"></i> Direktori Sekolah</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>E-Learning</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/course"><i class="fa fa-newspaper-o"></i>Kisi Learning</a></li>
          <li><a href="/label"><i class="fa fa-tag"></i> Label</a></li>
        </ul>
      </li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>Education Exam</span>
        </a>
      </li> -->
      
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>Education Consult</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder-open-o"></i>
          <span>Education Forum</span>
        </a>
      </li> -->
      <li ng-if="auth.role.id == 1"><a href="/user"><i class="fa fa-book"></i><span>Pengaturan Pengguna</span></a></li>
      <li><a href="documentation/index.html"><i class="fa fa-book"></i><span>Dokumentasi</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
