@font-face {
    font-family: "Glacial Indifference";
    src: url("../fonts/GlacialIndifference-Regular.eot"); /* IE9 */
    src: url("../fonts/GlacialIndifference-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GlacialIndifference-Regular.woff") format("woff"), /* chrome, firefox */
    url("../fonts/GlacialIndifference-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/GlacialIndifference-Regular.svg#Glacial Indifference") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


