@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../fonts/OpenSans-Semibold.eot"); /* IE9 */
    src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/OpenSans-Semibold.woff") format("woff"), /* chrome, firefox */
    url("../fonts/OpenSans-Semibold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


