font-kg="DHF Broffont Script"
font-base="Glametrix"
font-nav="Titillium Web"
font-heading="CaviarDreams"

color-base=#0079ab
color-base2=#00ABA9
bg-base=#0079ab
bg-base2=#00ABA9

/* Kisikisi CSS Styles */
@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/fontawesome-webfont.woff2") format('woff2'), url("../fonts/fontawesome-webfont.woff") format('woff'), url("../fonts/fontawesome-webfont.ttf") format('truetype'), url("../fonts/fontawesome-webfont.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

/* semantic custom */
.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover { border-color: color-base2; color: color-base2; }
.ui.menu .item { color: color-base; }
.ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover { z-index: 1; }
/*.segments>.image>.content { position: absolute; width: 100%; top: 100px; margin: 0 auto; }*/
.ui.icon.header .icon.logo { width: 150px; }
.ks.bg.base {  }

#mainNav { z-index: 1;  }
#mainNav .item { padding: 1.2em;  }
#mainNav .item.logo { padding-top: 0.2em; padding-bottom: 0.2em; -webkit-align-self: auto; align-self: auto;  }
#content { margin-top: 2em; }
