@font-face{font-family:sourcesans-semibold;src:url('../fonts/SourceSansPro-Semibold.ttf');}
@font-face{font-family:sourcesans-light;src:url('../fonts/SourceSansPro-Light.ttf');}
@font-face{font-family:sourcesans-regular;src:url('../fonts/SourceSansPro-Regular.ttf');}

*{
	color:#fff;
}
.head{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #fff;
}
.head-2{
	margin-top:-80px !important;
}
.head-2 .item{
	text-shadow:0px 1px 0px #0099ff;
}
#section-1{
	background-color:#30A5D5;
	min-height:104vh;
}
.button.landing{
	font-size:24px !important;
	color: #fff !important;
	background:transparent!important;
	font-family:sourcesans-semibold !important;
	border:1px solid #fff !important;
	padding-left:100px !important;
	padding-right:100px !important;
}
.section-2{
	padding-top:80px !important;
}

.button.landing:hover{
	color:#54c8ff !important;
	background: #fff !important;
}
@media(max-width:1024px){
	.head .item{
		font-size:12px !important;
	}
	.button.landing{
		font-size:18px !important;
	}
	.button.landing.land-2{
		min-height:50px !important;
	}
}
@media(max-width:568px){
	.title.kisi{
		font-size:35px !important;
	}
	.sub.title{
		font-size:16px !important;
	}
	.button.landing{
		font-size:15px !important;
	}
	.button.landing.land-2{
		min-height:40px !important;
	}
}

.title.kisi{
	font-size:52px;
	font-family:sourcesans-light;
	text-shadow:2px 0px 1px #33ccff;
}
.sub.title{
	font-size:18px;
	font-family:sourcesans-light;
}
.ui.secondary.menu .item{
	color:#fff;
}
.ui.secondary.menu .item:hover{
	color:#fff !important;
}

/* section 2 */
#section-2{
	background-color:#fff;
	min-height:60vh;
	padding-top:50px;
}
.black{color:black;}

/* section 3 */
#section-3{
	background-color:#3DC0F1;
	min-height:60vh;
	padding-top:50px;
}

/* footer */
#footer{
	background-color:#444;
	min-height:30vh;
	padding-top:50px;
}