<div id="footer" style="background-color:#fff">
	<div class="ui container"  >
		<div class="ui center aligned grid" >
			<div class="row">
				<a href="https://www.facebook.com/kisikisi.id/"><i class="facebook square big icon"></i></a>
				<a href="https://www.instagram.com/kisikisi_id/"><i class="instagram big icon"></i></a>
				<a href="#"><i class="twitter big icon"></i></a>
				<a href="#"><i class="youtube big icon"></i></a>
				<a href="#"><i class="google plus big icon"></i></a>
			</div>
			<div class="row">
				Copyright 2016 <i class="copyright icon"></i>Kisikisi.id. All Right Reserved
			</div>
		</div>
		<div
              class="fb-like"
              data-share="true"
              data-width="450"
              data-show-faces="true">
            </div>
	</div>
</div>