<i class="close icon"></i>
<div class="header">
	Masuk Sebagai Pengguna
</div>
<div class="image content">
	<div class="ui small image">
	  <img class="image" src="{{ env.site }}img/mascot/geek_mascot.png" alt="">
	</div>
	<div class="description">
		<form class="ui inverted form">
		  <div class="field">
			<label>First Name</label>
			<input type="text" name="first-name" placeholder="First Name">
		  </div>
		  <div class="field">
			<label>Last Name</label>
			<input type="text" name="last-name" placeholder="Last Name">
		  </div>
		  <div class="field">
			<div class="ui checkbox">
			  <input type="checkbox" tabindex="0" class="hidden">
			  <label>I agree to the Terms and Conditions</label>
			</div>
		  </div>
		  <button class="ui inverted blue fluid button" type="submit">Submit</button>
		</form>
	</div>
</div>
<!--<div class="actions">
	<div class="two fluid ui inverted buttons">
	  <div class="ui red basic inverted button">
		<i class="remove icon"></i>
		No
	  </div>
	  <div class="ui green basic inverted button">
		<i class="checkmark icon"></i>
		Yes
	  </div>
	</div>
</div>-->
