<div class="ui container uk-hidden-large">
	<a id="sidebarToggle" class="active logo item">
	   <img class="icon" ng-src="{{ env.site }}img/logo/logo.png" width="30" alt=""><i class="dropdown icon"></i>
	</a>
	<div class="right menu" ng-if="!isLogin()" >
		<a class="item" ng-click="loginForm()">
			<i class="unlock large icon"></i>
		</a>
	</div>
	<div class="right menu" ng-if="isLogin()">
		<a class="ui item" ng-click="resetFilter()">
		  <i class="home large icon"></i>
		</a>
		<a class="ui item" ng-click="toggleSearch()">
		  <i class="search large icon"></i
		</a>
		<a class="ui browse item" data-position="bottom right">
		  <img ng-if="auth.user_pict" class="ui circular image" ng-src="{{ env.site }}img/avatar.png" style="width:30px" >
		  <i ng-if="! auth.user_pict" class="user icon"></i>
		</a>
		<div class="ui popup bottom right transition hidden">
			<div class="uk-grid uk-grid-small">
				<div class="uk-width-1-2">
					<img ng-if="auth.user_pict" class="ui circular image" ng-src="{{ env.site }}img/avatar.png">
					<img ng-if="! auth.user_pict" class="ui circular image" ng-src="/img/sampleprofile.png" />
				</div>
				<div class="uk-width-1-2">
					<h4>{{ auth.name }}</h4>
					<a class="ui kg-bg-base small black button" href="/{{ auth.name }}"><i class="user icon"></i> Profile</a>
				</div>
			</div>
			<hr class="uk-grid-divider" />
			<a class="secondary ui button" ng-click="logout()"><i class="lock icon"></i> Logout</a>
			<a class="ui right floated icon circular secondary  button" href="/{{ auth.name }}/edit"><i class="icon setting"></i></a>
		</div>
	</div>
</div>
<div class="ui container uk-visible-large">
	  <a class="active item logo" href="{{ env.site }}">
		<img ng-src="{{ env.site }}img/logo/logo.png" alt="">
		<span class="content">isikisi</span>
	  </a>
	  <span class="hint--bottom" data-hint="Agenda Pendidikan">
		<a class="item" href="http://agenda.kisikisi.id">
			<i class="calendar large icon"></i>
		</a>
	  </span>
	  <span class="hint--bottom" data-hint="Beasiswa Pendidikan">
		<a class="item" href="http://beasiswa.kisikisi.id">
			<i class="student large icon"></i>
		</a>
	  </span>
	  <span class="hint--bottom" data-hint="Berita Pendidikan">
		<a class="item" href="http://berita.kisikisi.id">
			<i class="newspaper large icon"></i>
		</a>
	  </span>
	  <span class="hint--bottom" data-hint="Direktori Pendidikan">
		  <a class="item" href="http://direktori.kisikisi.id">
				<i class="university large icon"></i>
		  </a>
	  </span>
	  <span class="hint--bottom" data-hint="e-Learning">
		<a class="item" href="http://learning.kisikisi.id">
			<i class="book large icon"></i>
		</a>
	  </span>
	  <!-- <a class="secondary ui button" ng-click="logout()"><i class="lock icon"></i> Logout</a> -->
	<div class="right menu" ng-if="isLogin()" >
		<!--<a class="active item" data-uk-modal="{target:'#kg-modal'}" ng-click="createCatalog()">
			<i class="pencil icon"></i> Buat
		</a>-->
		<a class="browse item" data-position="bottom right">
			<img ng-if="auth.user_pict" class="ui circular image" ng-src="{{ env.site }}img/avatar.png" style="width:30px" >
			<i ng-if="! auth.user_pict" class="user icon"></i>
			{{ auth.name }}
		</a>
		<div class="ui popup bottom right transition hidden">
			<div class="uk-grid uk-grid-small">
				<div class="uk-width-1-2">
					<img ng-if="auth.user_pict" class="ui circular image" ng-src="{{ env.site }}img/avatar.png">
					<img ng-if="! auth.user_pict" class="ui circular image" ng-src="/img/sampleprofile.png" />
				</div>
				<div class="uk-width-1-2">
					<h4>{{ auth.name }}</h4>
					<a class="ui kg-bg-base small black button" href="/{{ auth.name }}"><i class="user icon"></i> Profile</a>
				</div>
			</div>
			<hr class="uk-grid-divider" />
			<a class="secondary ui button" ng-click="logout()"><i class="lock icon"></i> Logout</a>
			<a class="ui right floated icon circular secondary  button" href="/{{ auth.name }}/edit"><i class="icon setting"></i></a>
		</div>
	</div>
	<div class="right menu" ng-if="!isLogin()" >
		<a class="item" ng-click="loginForm()">
			<i class="unlock large icon"></i>
		</a>
	</div>
</div>
