<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="{{ env.site }}img/logo/logo.png" class="image">
      <div class="content">
        Daftar Menjadi Anggota
      </div>
    </h2>
    <form name="regForm" class="ui large form" ng-submit="register(user)" novalidate>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" id="name" name="name" ng-model="user.name" placeholder="username" ng-pattern="/^[A-z][A-z0-9]*$/" required>
          </div>
          <div ng-show="regForm.name.$dirty && regForm.name.$invalid" class="ui pointing label">
			masukkan username dengan benar
		  </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input id="email" type="email" name="email" ng-model="user.email" placeholder="email" required>
          </div>
          <div ng-show="regForm.email.$dirty && regForm.email.$invalid" class="ui pointing label">
		    masukkan email dengan benar
		  </div>
        </div>
        <div class="inline fields">
           <label for="fruit">Mendaftar Sebagai:</label>
			<div class="field">
			  <div class="ui radio checkbox">
				<input type="radio" name="role_id" ng-model="user.role_id" value="4" tabindex="0" required>
				<label>Personal</label>
			  </div>
			</div>
			<div class="field">
			  <div class="ui radio checkbox">
				<input type="radio" name="role_id" ng-model="user.role_id" value="3" tabindex="0" required>
				<label>Instansi</label>
			  </div>
			</div>
       		<div ng-show="regForm.role_id.$dirty && regForm.role_id.$invalid" class="ui pointing label">
			  pilih tipe keanggotaan
		    </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="password" type="password" name="password" ng-model="user.password" placeholder="password" required>
          </div>
          <div ng-show="regForm.password.$dirty && regForm.password.$invalid" class="ui pointing label">
		    masukkan password
	 	  </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="confpass" type="password" name="confpass" ng-model="user.confpass" placeholder="konfirmasi password" match="user.password" required>
          </div>
          <div class="ui pointing label" ng-show="regForm.password.$valid && !regForm.confpass.$dirty">
		    Isi konfirmasi password
		  </div>
		  <div class="ui pointing label" ng-show="regForm.confpass.$error.match">
		    Password dan konfirmasi password tidak sama
		  </div>
        </div>
        <button ng-disabled="!regForm.$valid" type="submit" class="ui fluid large violet bg-base submit button">Daftar</button>
      </div>

      <div class="ui error message"></div>
    </form>
  </div>
</div>
