<div class="image">
    <img ng-src="{{env.file}}course/cover/{{detail.image_cover}}" alt="" class="ui fluid image">
    <!--<div class="ui center aligned grid content">

    </div>-->
</div>
<div class="ui attached segment uk-grid">
    <h2 class="ui header">
       	 <!--<img ng-src="{{env.file}}school/logo/{{detail.user.picture}}">-->
        <div class="content">
            {{detail.title}}
            <div class="sub header">
            	<a class="ui teal image label">
				  <i class="user icon"></i>
				  <div class="detail">{{detail.author.name}}</div>
				</a>
           		<a class="ui blue image label">
            	  <i class="alarm icon"></i>
				  <div class="detail">{{ detail.duration }} Minutes</div>
				</a>
           		<a class="ui violet image label">
            	  <i class="signal icon"></i>
				  <div class="detail">Level {{detail.difficulty }}</div>
				</a>
            </div>
            <div ui-rating class="ui star rating" data-rating="0" data-max-rating="5"></div>

        </div>
    </h2>

</div>
<div class="ui attached segment">
	<iframe width="100%" height="400" src="{{detail.embed}}" frameborder="0" allowfullscreen>
	</iframe>
</div>
<div class="ui attached segment">
	<h3 class="ui heading">Deskripsi</h3>
	<article ng-bind-html="detail.description"></article>
</div>
<div class="ui attached segment">
    <a href="http://www.facebook.com/sharer.php?u={{ url }}" target="_blank" class="ui facebook button">
      <i class="facebook icon"></i>
      Facebook
    </a>
    <a href="https://twitter.com/share?url={{url}}" target="_blank" class="ui twitter button">
      <i class="twitter icon"></i>
      Twitter
    </a>
    <a href="https://plus.google.com/share?url={{url}}" target="_blank" class="ui google plus button">
      <i class="google plus icon"></i>
      Google Plus
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url}}" target="_blank" class="ui google plus button">
      <i class="linkedin plus icon"></i>
      Linkedin
    </a>
</div>
<div class="ui attached segment">
    <div class="fb-comments" data-href="http://learning.kisikisi.id/{{detail.slug}}" data-numposts="5" data-width="100%"></div>
</div>
<div ng-if="widget.rendered">rendered</div>
