<form class="ui form" ng-submit="searchCourse(filter)">
	<!--<div class="field">
		<select name="school_type_id" class="ui fluid dropdown" ng-model="filter.province_id" ng-options="prov.id as prov.name for prov in provinces">
			<option value="">--Provinsi--</option>
		</select>
	</div>
	<div class="field">
		<select ng-if="filter.province_id" name="school_type_id" class="ui fluid dropdown" ng-model="filter.city_id" ng-options="cit.id as cit.name for cit in cities | uppercase | filter:{ province_id : filter.province_id }">
			<option value="">--Kabupaten/Kota--</option>
		</select>
	</div>
	<div class="field">
		<select name="agenda_category_id" class="ui fluid dropdown" ng-model="filter.agenda_category_id" ng-options="cat.id as cat.name for cat in agendaCategories">
			<option value="">--Pilih Kategori Agenda--</option>
		</select>
	</div>-->
	<div class="field">
		<input type="text" name="name" ng-model="filter.title" placeholder="Judul Tutorial">
	</div>
	<div class="field">
		<button type="submit" class="ui violet bg-base fluid button">
			<i class="search icon"></i>
			Cari
		</button>
	</div>
</form>
