
<div class="ui link three stackable cards" infinite-scroll='nextPage()' infinite-scroll-distance='1' infinite-scroll-disabled='scrollBusy'>
 <div class="card"  ng-repeat="list in schools | filter:filter" ng-click="detailSchool(list.id)">
  <a ng-if="list.image" class="image">
    <img ng-src="{{ env.file }}/school/image/{{ list.image }}">
  </a>
  <div class="content">
    <a class="header">
        <img ng-if="list.logo" ng-src="{{ env.file }}/school/logo/{{ list.logo }}" alt="" class="right floated mini ui image">
        {{ list.name }}
    </a>
    <div class="meta">
      <span class="date">{{ schoolTypes[indexSearch(schoolTypes, list.school_type_id)].name }} </span>
    </div>
    <div class="extra">
      <div ui-rating class="ui star rating" data-rating="4"></div>
    </div>
    <div class="description">
      {{ cities[indexSearch(cities, list.city_id)].name  }}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      22 Students
    </a>
  </div>
 </div>
</div>
