<h3 class="ui horizontal divider header">
  <img ng-src="{{ env.site }}/img/icon/directory.png" width="30">
  Direktori Sekolah

</h3>
<div class="ui message">
  <p>
  	<span ng-if="filter.province_id">pada provinsi <strong>{{ provinces[indexSearch(provinces, filter.province_id)].name }}</strong> </span>
  	<span ng-if="filter.city_id">kota <strong>{{ cities[indexSearch(cities, filter.city_id)].name }}</strong></span>
  	<span ng-if="filter.school_type_id">dengan kategori <strong>{{ schoolTypes[indexSearch(schoolTypes, filter.school_type_id)].name }}</strong>  </span>
  	<span ng-if="filter.name">dengan nama mirip dengan <strong>{{ filter.name }}</strong> </span>
  	Total direktori sekolah sebanyak <strong>{{total}}</strong>
  </p>
</div>
<div class="ui link three stackable cards" infinite-scroll='nextPage()' infinite-scroll-distance='1' infinite-scroll-disabled='scrollBusy'>
 <div class="card" ng-repeat="list in schools" ui-sref="school.detail({id: list.id, slug: list.slug })" data-ui-sref-opts="{notify: false}">
  <a ng-if="list.image" class="image">
    <img ng-src="{{ env.file }}/school/image/{{ list.image }}">
  </a>
  <div class="content">
    <a class="header">
        <img ng-if="list.logo" ng-src="{{ env.file }}/school/logo/{{ list.logo }}" alt="" class="right floated mini ui image">
        {{ list.name }}
    </a>
    <div class="meta">
      <span class="date">{{ schoolTypes[indexSearch(schoolTypes, list.school_type_id)].name }} </span>
    </div>
    <div class="extra">
      <div ui-rating class="ui star rating" data-rating="0" data-max-rating="5"></div>
    </div>
    <div class="description">
      {{ cities[indexSearch(cities, list.city_id)].name  }}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      0 Siswa
    </a>
    <a>
      <i class="heart icon"></i>
      0 Favorit
    </a>
  </div>
 </div>
</div>
